{% include 'publicheader.html' %}
<div class="w3ls-section contact" id="contact">
		<div class="container">
			<div class="w3-heading-all contact-head">
		
		<span  class="w3-heading-icon">
		</span>
		</div>
			<div class="contact-form">
			<div class="row">
				<div class="col-lg-5 col-md-5 col-sm-5 contact-left">
					<div class="address">
						<h5><b>LOGIN </b></h5><br><br><br>
						
					</div>
				</div>
<!-- <h1 align="center">Login</h1> -->
<form method="post" >
<center>
<table class="table" border="2">
	<tr>
		<th ><font color="white"><h6><b>Username</b></h6></font></th>
		<td><input type="text" name="username" value="{{ data['uname'] }}" readonly="" class="form-control" style="width: 500px;"></td>
	</tr>

	<tr>
		<th ><font color="white"><h6><b>Password</b></h6></font></th>
		<td><input type="text" name="password" class="form-control" style="width: 500px;"></td>
	</tr>
	
	
	<tr>
		<td colspan="2" align="center">
			<input type="submit" name="login" class="btn btn-primary" value="Login">
		</td>
	</tr>
</table>
</center>
</form>
	</div>
			</div>
		</div>
		
	</div>


{% include 'publicfooter.html' %}